doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sample Site
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    style.
      body { padding-top:50px; }
  body
    .container
      .jumbotron
        h3 Hello ! This is only REST API service, please use postman to use the api!
